#lisenziyalar{
    .lisenziyalartop{
        position: relative;
        img{
            width: 100%;
            position: relative;
        }
       
       }
       .container{
        img{
            width: 80%;
        }
       }
       .lisenziyalaresas{
        padding-top: 50px;
        padding-bottom: 50px;
       }
}