#Bakcell{
    background-color: #e4e4e4;
   .backelltop{
    position: relative;
    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        position: relative;
    }
   
   }
   .container{
    padding-top: 40px;
    padding-bottom: 40px;
    a{
        background-color: #3f3f3f;
        color: white;
        font-weight: 640;
    }
    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        transition: opacity 0.7s ease;
    }
    .col-xl-3:hover img {
        opacity: 0.6; 
      }
}
}