#xidmetleresas{
    background-color: #e4e4e4;
    padding-top: 20px;
    h3{
        text-align: center;
        padding-top: 40px;
        font-weight: 650;
        color: black;
    }
    h5{
        color: black;
        text-align: center;
        padding-bottom: 30px;
    }
    img{
        width: 100%;
        border-radius: 10px;
    }
    p{
        color: black;
        font-weight: 640;
        font-size: 1.1rem;
        text-align: justify;
    }
}