#haqqindaesas{
    background-color: #e4e4e4;
    padding-top: 60px;
    padding-bottom: 40px;
   img{
    width: 100%;
    object-fit: cover;
   }
   h2{
    text-align: center;
    padding-bottom: 30px;
   }
}