#uygunluq{
    background-color: #e4e4e4;
    .uygunluqtop{
        img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
    }
    .uygunluqmain{
        padding-top: 70px;
        padding-bottom: 60px;
        img{
            width: 100%;
        }
        h2{
            text-align: center;
        }
        p{
            color: black;
            font-weight: 630;
            text-align: justify;
        }
    }
}