#footer{
    background-color: #f57c04;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;

   .col-xl-2{
    text-align: left;
   } 
    ul{
        font-weight: 640;
        font-size: 1.3rem;
        color: #212121;

    }
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: white;
        }
    }
}