#footer{
    background-color: #f57c04;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
   .col-xl-2{
    text-align: left;
   } 
    ul{
        font-weight: 650;
        font-size: 1.3rem;
        color: rgb(255, 255, 255);
        letter-spacing: 1.5px;
    }
    li{
        list-style: none;
        a{
            letter-spacing: 1px;
            font-weight: 640;
            text-decoration: none;
            color: white;
        }
    }
    .sonluq{
        font-size: 1rem;
        letter-spacing: 1px;
        padding-top: 20px;
        font-weight: 640;
        text-align: center;
        color: white;
    }
}